

body{
  background: no-repeat url("../images/background.jpg");
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}
.logo{
  text-align: center;
  background-color: #004B73;
  color: #FFFFFF;
  padding: 20px;
  border-radius: 20px;
}

table {
  border-spacing: 10px;
  margin: 30px;
}
td, th {
  border-radius: 20px;
  text-align: center;
  background-color: #dddddd;
  padding: 15px;
}
th{
  background-color: #004B73;
  color: white;
}
 footer{
   background-color: #004B73;
   color: #FFFFFF;
   padding: 20px;
   display: inline-block;
   border-radius: 50px;
 }
